<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--Email settings-->
    <!--<add key="EMail" value="ordenesdecompra@radiocentro.com.do" />
    <add key="EMailName" value="SISTEMA DE SEGUIMIENTO A ORDENES DE COMPRA" />
    <add key="PortMail" value="587" />
    <add key="smtpClient" value="162.241.156.101" />
    <add key="usrEmail" value="ordenesdecompra@radiocentro.com.do" />
    <add key="pwdEmail" value="Radio123456" />-->
    <add key="EMail" value="rafaelmersant@sagaracorp.com" />
    <add key="EMailName" value="SISTEMA DE SEGUIMIENTO A ORDENES DE COMPRA" />
    <add key="PortMail" value="587" />
    <add key="smtpClient" value="smtp.gmail.com" />
    <add key="usrEmail" value="rafaelmersant@sagaracorp.com" />
    <add key="pwdEmail" value="Nairo1!rafaS" />
    <add key="EnvironmentOrdenCompra" value="DEV" />
    <add key="RedirectTo" value="http://localhost:65103/User/Login?form=##ordenCompraForm##" />
    <add key="sConnSQLODBC" value="Driver={SQL Server}; Server=LAPTOP-SRC9GD4P; Database=OrdenCompraRC; uid=ordencomprarc; pwd=ordencomprarc!123" />
    <add key="daysNotifyProvider" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="OrdenCompraRCServiceEntities" connectionString="metadata=res://*/Model.OrdenCompraRCService.csdl|res://*/Model.OrdenCompraRCService.ssdl|res://*/Model.OrdenCompraRCService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SRC9GD4P;initial catalog=OrdenCompraRC;persist security info=True;user id=ordencomprarc;password=ordencomprarc!123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>