<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Email settings-->
    <!--<add key="EMail" value="ordenesdecompra@radiocentro.com.do" />
    <add key="EMailName" value="SISTEMA DE SEGUIMIENTO A ORDENES DE COMPRA" />
    <add key="PortMail" value="587" />
    <add key="smtpClient" value="162.241.156.101" />
    <add key="usrEmail" value="ordenesdecompra@radiocentro.com.do" />
    <add key="pwdEmail" value="Radio123456" />-->
    
    <add key="EMail" value="rafaelmersant@sagaracorp.com" />
    <add key="EMailName" value="SISTEMA DE SEGUIMIENTO A ORDENES DE COMPRA" />
    <add key="PortMail" value="587" />
    <add key="smtpClient" value="smtp.gmail.com" />
    <add key="usrEmail" value="rafaelmersant@sagaracorp.com" />
    <add key="pwdEmail" value="Nairo1!rafaS" />
    <add key="EnvironmentOrdenCompra" value="DEV" />
    <add key="RedirectTo" value="http://localhost:65103/User/Login?form=##ordenCompraForm##" />
    <add key="sConnSQLODBC" value="Driver={SQL Server}; Server=LAPTOP-SRC9GD4P; Database=OrdenCompraRC; uid=ordencomprarc; pwd=ordencomprarc!123" />
    <add key="daysNotifyProvider" value="10" />
  </appSettings>
</configuration>